<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/7b0bd073-3be0-4090-83e1-23085741d967/resourceGroups/co3labrs/providers/Microsoft.Web/sites/co3lab</ResourceId>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>waws-prod-sy3-023.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>co3lab</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$co3lab</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>